<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCBT</title>
</head>
<body>
    <div>
        <% let totalBalance = 0; %>
        <% cards.forEach((card) => { %>
        <% totalBalance += card.balance; %>
        <% }); %>

<h2>Total Credit Card Balance: <%= totalBalance.toFixed(2) %></h2>
    </div>
    
    
    <div>
        <%cards.forEach((card)=>{ %>
        <h5>Bank: <%=card.bank%></h5>
        <h5>Card: <%=card.card%></h5>
        <h5>Type: <%=card.type%></h5>
        <h5>Balance $: <%=card.balance%></h5>
        <h5>Long Term APR %: <%=card.longTermAPR%></h5>
        <h5>Temp APR %: <%=card.tempAPR%></h5>
        <h5>Temp APR end date: <%=card.tempAPRDate%></h5>
        <h5>Balance Transfer APR %: <%=card.balanceTranserAPR%></h5>
        <h5>Balance Transfer Amount Available $: <%=card.balanceAmountAvail%></h5>
        <% }) %>
    </div>

    </div>
</body>
</html>