<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
    <title>CCBT</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    
    <%- include('./partials/navbar') %>
    <header class = "index-header">
        <h1 class="main-title" >Accounts Snapshot</h1>
        <div>
            <% let totalBalance = 0; %>
            <% cards.forEach((card) => { %>
            <% totalBalance += card.balance; %>
            <% }); %>

            <h2 class="index-balance">Total Credit Card Balance: <%= totalBalance.toFixed(2) %></h2>
        </div>
    </header>
    
    
    <div class = "index-main">
        
        <%cards.forEach((card)=>{ %>
        <div class = "index-accts">
            <h5>Bank: <span class="index-span"><%=card.bank%></span></h5>
            <h5>Card: <span class="index-span"><%=card.card%></span></h5>
            <h5>Type: <span class="index-span"><%=card.type%></span></h5>
            <h5>Balance $: <span class="index-span"><%=card.balance%></span></h5>
            <h5>Long Term APR %: <span class="index-span"><%=card.longTermAPR%></span></h5>
            <h5>Temp APR %: <span class="index-span"><%=card.tempAPR%></span></h5>
            <h5>Temp APR end date:
                <span class="index-span">
                  <% if (card.tempAPRDate) { %>
                    <%= new Date(card.tempAPRDate).toLocaleDateString() %>
                  <% } else { %>
                    N/A <!-- or any other message you want to display -->
                  <% } %>
                </span>
              </h5>
            <h5>Balance Transfer APR %: <span class="index-span"> <%=card.balanceTranserAPR%></span></h5>
            <h5>Balance Transfer Amount Available $: <span class="index-span"> <%=card.balanceAmountAvail%></span></h5>
            <br>
            <div class="idx-btns">
                <h4>Annual Interest Cost $: <%= (card.balance * (card.longTermAPR * 0.01)).toFixed(2) %></h4> 
                <a href="/accts/<%=card._id%>"><button class="btn">Go to Account</button></a>
            </div>
        </div>
        <% }) %>
    </div>

    </div>
</body>
</html>