<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
    <title>CCBT</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div>
        <h2>Total Credit Card Balance:</h2>
    </div>
    <div>
        <h5>Bank: <%=card.bank%></h5>
        <h5>Card: <%=card.card%></h5>
        <h5>Type: <%=card.type%></h5>
        <h5>Balance $: <%=card.balance%></h5>
        <h5>Long Term APR %: <%=card.longTermAPR%></h5>
        <h5>Temp APR %: <%=card.tempAPR%></h5>
        <h5>Temp APR end date: <%=card.tempAPRDate%></h5>
        <h5>Balance Transfer APR %: <%=card.balanceTranserAPR%></h5>
        <h5>Balance Transfer Amount Available $: <%=card.balanceAmountAvail%></h5>
    <div>
        <form action="/accts/<%=card._id%>?_method=DELETE" method="POST"> 
            <input type="submit" value ="Delete this account">
        </form>
    </div>
    </div>
</body>
</html>